.footer{
  background: #111;
    padding: 30px 0;
    color: #fff;
    &--copyright{
      text-align: center;
    }
    &--credits{
      padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    }

    &--back-to-top{position: fixed;
      
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      padding: 6px 12px 9px 12px;
      font-size: 16px;
      border-radius: 2px;
      right: 15px;
      bottom: 15px;
      transition: background 0.5s;}
      &--back-to-top:hover{
        background: #03C4EB;
      }
      &--a{text-decoration: none;
        color: #03C4EB;
        transition: 0.5s;
      }
}