.row{

  
@mixin clearfix;

&--gutters{
  margin-right: -65px;
}

&--gutters > div {
  padding-right: 65px;
  
}

&__6{
  float: left;
     width: 100%;;
    @mixin atSmall{
      width:100%
    }
    @mixin atMedium{
      width:100%
    }
    @mixin atLarge{
      width:50%
    }
  }
  &__4{width: 100%;
  float: none;
  padding: 10px 0;
  box-sizing: border-box;
  @mixin atSmall{
    width: 100%;
    float: none;
  }
  @mixin atMedium{
    width: 32%;
    float: left;
  }
  @mixin atLarge{
    width:32%;
    float: left;
  }
}

&__4-right{
width: 100%;
float: none;

margin-top: 0;
@mixin atSmall{
  width: 100%;
  float: right;
  margin-top: 54px;
}
@mixin atMedium{
  width: 32%;
  float: right;
  margin-top: 54px;
}
@mixin atLarge{
  width:32%;
  float: right;
  margin-top: 54px;
}
}
  
&__8{
width: 100%;
float: none;
@mixin atSmall{
  width: 100%;
  float: none;
}
@mixin atMedium{
  width: 66%;
  float: left;
}
@mixin atLarge{
  width:66%;
  float: left;
}
} 
}