.row{

  
@mixin clearfix;

&--gutters{
  margin-right: -65px;
}

&--gutters > div {
  padding-right: 65px;
  
}

&__6{
  float: left;
     width: 100%;;
    @mixin atSmall{
      width:100%
    }
    @mixin atMedium{
      width:100%
    }
    @mixin atLarge{
      width:50%
    }
  }
 
}